@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

.titulo {
    font-family: 'Open Sans';
    text-align: center;
}

.parrafo {
    font-family: 'Roboto';
    font-weight: 400;
}

.subtitulo {
    font-family: 'Roboto';
    font-weight: 700;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    background-image: url("./img/puntitos.svg");
    padding: 18px 20px 18px 17px;
}

.navbar {
    display: none;
}

.logo {
    width: 54px;
}

@media (min-width: 960px) {
    .logo {
        width: 100px;
    }
}

.main {
    background-color: #eeeeee;
    height: 600px;
    width: 100%;
    background-image: url("./img/puntitos.svg");
}

.titulo-bienvenida {
    font-size: 48px;
    font-weight: 700;
    padding: 200px 80px;
    width: 375px;
    text-align: left;
}

@media (max-width: 390px) {
    .titulo-bienvenida {
        padding: 0;
        text-align: center;
    }
    .img-wrapper {
        flex-direction: column;
    }
    .imagen-bienvenida {
        margin: 0 auto !important;
    }
}

.imagen-bienvenida {
    width: 300px;
    align-self: flex-end;
}

@media (min-width: 960px) {
    .imagen-bienvenida {
        width: 500px;
        height: 525px;
        margin-right: 80px;
    }
}

.img-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.section-a {
    background-color: #141414;
    color: #FAFAFA;
    min-height: 538px;
    width: 100%;
    padding: 55px 32px;
}

.check {
    margin: 20px auto;
    width: 80px;
}

@media (min-width: 960px) {
    .section-a {
        padding: 150px 80px;
    }
    .check {
        width: 210px;
        margin: 0;
    }
}

.contenedor-presentacion {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    gap: 90px;
}

@media (min-width: 960px) {
    .contenedor-presentacion {
        flex-direction: row;
    }
}

.soy-container {
    width: 100%;
}

.titulo-soy {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

.parrafo-soy {
    text-align: left;
}

.section-b {
    background-color: #FAFAFA;
    height: 1375px;
    padding: 70px 52px;
}

@media (min-width: 960px) {
    .section-b {
        height: 604px;
    }
}

.titulo-servicios {
    margin-bottom: 50px;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 262px;
    max-height: 117px;
    margin: auto;
    font-weight: 400;
}

.service-card>p {
    margin: 0;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

@media (min-width: 960px) {
    .services-container {
        flex-direction: row;
    }
}

.titulo-servicios {
    margin: 0;
    font-size: 32px;
}

.section-c {
    color: #FAFAFA;
    background-color: #141414;
    height: 660px;
    padding: 70px 20px;
}

@media (min-width: 960px) {
    .section-c {
        padding: 116px 416px 116px 304px;
    }
}

.contact-container {
    height: 100%;
    width: 100%;
    display: flex;
}

@media (max-width: 390px) {
    .contact-container {
        flex-direction: column;
    }
}

.titulo-contacto {
    font-size: 32px;
    display: block;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.contact-form {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    min-width: 335px;
    height: 428px;
    margin: auto;
}

@media (min-width: 960px) {
    .contact-form {
        margin: 0 0 0 50%;
    }
    .titulo-contacto {
        width: 50px;
    }
}

.contact-form>div {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 13px;
}

.contact-form>div>input {
    height: 45px;
}

.contact-form>div>label {
    font-family: 'Roboto';
}

#submit-btn {
    background: #FFD953;
    border: none;
    border-radius: 4px;
    min-height: 45px;
    margin-top: 40px;
    padding: 0;
    font-size: 16px;
}

.msj-input {
    height: 117px !important;
}

.footer {
    background-color: #eeeeee;
    background-image: url("./img/puntitos.svg");
    height: 493px;
    padding: 53px 130px 113px 16px;
}

@media (min-width: 960px) {
    .footer {
        padding: 95px 215px;
    }
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 390px) {
    .footer-container {
        flex-direction: column;
    }
}

.logo-footer {
    margin-bottom: 18px;
}

.logo-container {
    width: 77px;
    display: inline-block;
    margin-bottom: 5px;
}

.red-social-link {
    margin: 19px 0;
    display: flex;
    align-items: center;
}

.red-social-link>img {
    width: 30px;
}

.red-social-link>a {
    text-decoration: none;
    color: #141414;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    margin-left: 9px;
}