@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    background-image: url("./img/puntitos.svg");
    padding: 18px 20px 18px 17px;
}

.logo {
    width: 54px;
}

.main {
    background-color: #eeeeee;
    height: 594px;
    width: 100%;
    background-image: url("./img/puntitos.svg");
    padding: 80px 42px 0;
    position: relative;
}

.titulo-bienvenida {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}


/* https://stackoverflow.com/questions/29660182/how-to-stick-image-to-border-of-div */

.imagen-bienvenida {
    margin: auto;
    width: 300px;
    position: absolute;
    bottom: 0;
}

.section-a {
    background-color: #141414;
    color: #FAFAFA;
    height: 538px;
}

.titulo-soy {
    margin: 0;
}

.section-b {
    background-color: #FAFAFA;
    height: 1375px;
}

.section-b>h1 {
    font-size: 32px;
}

.section-c {
    color: #FAFAFA;
    background-color: #141414;
    height: 660px;
}

.footer {
    background-color: #eeeeee;
    height: 493px;
}

.red-social-link>img {
    width: 30px;
}